{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "arrow-spacing": "error",
        "block-spacing": ["error", "always"],
        "camelcase": "error",
        "comma-spacing": ["error", {"before": false, "after": true}],
        "eol-last": "off",
        "eqeqeq": "error",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "max-len": ["error", 140],
        "new-cap": "off",
        "newline-after-var": ["error", "always"],
        "newline-before-return": "error",
        "no-debugger": "off",
        "no-console": "off",
        "no-const-assign": "error",
        //"no-magic-numbers": ["error", {"ignore": [-1, 0, 1]}],
        "no-multiple-empty-lines": ["error", {"max": 1}],
        "no-trailing-spaces": "error",
        "no-underscore-dangle": "off",
        "no-use-before-define": "off",
        "no-var": "error",
        "object-shorthand": ["error", "always"],
        "one-var": ["error", "always"],
        "one-var-declaration-per-line": ["error", "always"],
        "prefer-const": "error",
        "prefer-template": "error",
        "quotes": ["error", "single"],
        "radix": "error",
        "react/jsx-no-undef": "warn",
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "space-before-blocks": "error",
        "strict": "off",
        "template-curly-spacing": "error"
    }
}